/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #808080;
  transition: 250ms;
}

input:hover {
  border: 1px solid #000;
}
input:focus {
  border: 1px solid #4e75ff;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  /* width: 75px; */
  height: 40px;
  transition: 250ms;
  background-color: #4e75ff;
  color: #fff;
  border: none;

  &:hover {
    transform: scale(1.09);
    background-color: #6c8cff;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.gallery-item {
  flex: calc((100% - 16px * 2) / 3);
  overflow: hidden;
  background-color: #fff;
  transition: 250ms;

  &:hover {
    transform: scale(1.02);
  }
  &:focus {
    transform: scale(1.02);
  }
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 12px;
  padding: 8px;
  border: 1px solid #000;
}

.details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.hidden {
  display: none !important;
}
.load-more-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
